* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 600px;
    width: 100%;
    background-color: blanchedalmond;
    border: 7px solid;
}

img {
    width: 100%;
    height: 100%;
}

.box {
    background-color: green;
    height: 200px;
    width: 300px;
    overflow: hidden;
    border: 2px solid red;
    display: inline-block;

}

.text {
    background-color: aqua;
}

.blue-div {
    height: 50%;
}

.blue-box {
    border-color: blue;
    margin-left: -5px;
    height: 500px;

}

.red-box {

    height: 500px;
}