* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
}

img {
    height: 200px;
}

.img-container {
    background-color: green;
}

.text {
    display: inline-block;
    background-color: aqua;
}